/* 日本語・英語 共通ベース */
:root {
  --font-body:
    "Noto Sans JP", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;

  --font-accent: "Barlow Semi Condensed", "Barlow", sans-serif;

  --font-heading: var(--font-body);

  --line-height-body: 1.7;
  --line-height-heading: 1.25;

  --font-weight-body: 500;
  --font-weight-emphasis: 600;
  --font-weight-heading: 700;
  --font-weight-heavy: 900;

  // 可変サイズ設定
  --fs-r-base: 1rem;

  --fs-r-xs: calc(var(--fs-r-base) * 0.75);
  --fs-r-s: calc(var(--fs-r-base) * 0.8);
  --fs-r-sm: calc(var(--fs-r-base) * 0.85);
  --fs-r-m: calc(var(--fs-r-base) * 0.9);
  --fs-r-ml: calc(var(--fs-r-base) * 0.95);
  --fs-r-l: calc(var(--fs-r-base) * 1);
  --fs-r-xl: calc(var(--fs-r-base) * 1.1);
  --fs-r-xxl: calc(var(--fs-r-base) * 1.2);

  @media (min-width: 768px) {
    --fs-r-base: 0.9rem;
  }
}

/* 日本語 */
html:lang(ja) {
  --font-body: "Noto Sans JP", system-ui, sans-serif;
  --font-heading: "Noto Sans JP", system-ui, sans-serif;

  --letter-spacing-body: 0;
  --letter-spacing-heading: 0;
  --font-size-body: 14px;
}

/* 英語 */
html:lang(en) {
  --font-body: "Noto Sans JP", system-ui, sans-serif;
  --font-heading: "Noto Sans JP", system-ui, sans-serif;

  /* 英字は詰まりやすいので微調整 */
  --letter-spacing-body: 0.01em;
  --letter-spacing-heading: 0.02em;
  --font-size-body: 15px;
}
