/* 日本語・英語 共通ベース */
:root {
  --font-body: "Noto Sans JP", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;

  --font-heading: var(--font-body);

  --line-height-body: 1.7;
  --line-height-heading: 1.25;
}

/* 日本語 */
html:lang(ja) {
  --font-body: "Noto Sans JP", system-ui, sans-serif;
  --font-heading: "Noto Sans JP", system-ui, sans-serif;

  --letter-spacing-body: 0;
  --letter-spacing-heading: 0;
  --font-size-body: 14px;
}

/* 英語 */
html:lang(en) {
  --font-body: "Noto Sans JP", system-ui, sans-serif;
  --font-heading: "Noto Sans JP", system-ui, sans-serif;

  /* 英字は詰まりやすいので微調整 */
  --letter-spacing-body: 0.01em;
  --letter-spacing-heading: 0.02em;
  --font-size-body: 15px;
}
