/* src/styles/_var.scss */

/* =========================
   Color system
   ========================= */

/* Brand */
$color-primary: #d51d1d;
$color-secondary: #2972a6;

/* primary の派生（既に作った方針に合わせて、使いやすい2段階） */
$color-primary-light: #e24a4a;
$color-primary-dark: #b01616;

$color-accent: #6da6e4;

/* Neutral */
$color-bg: #141721;
$color-surface: #ffffff;

$color-gray-50: #f8f8f8;
$color-gray-100: #f1f1f1;
$color-gray-200: #e6e6e6;
$color-gray-300: #d4d4d4;
$color-gray-400: #bdbdbd;
$color-gray-500: #9e9e9e;
$color-gray-600: #757575;
$color-gray-700: #4f4f4f;
$color-gray-800: #2f2f2f;
$color-gray-900: #1a1a1a;

$color-text: $color-gray-100;
$color-text-muted: $color-gray-700;
$color-border: $color-gray-200;

/* Utility */
$color-link: $color-primary;
$color-focus: rgba(213, 29, 29, 0.35);

/* group */
$color-country-japan: rgb(214, 127, 154);
$color-country-global: rgb(91, 180, 171);
$color-bg-topnav: rgba(20, 23, 33, 0.95);

/* =========================
   Typography
   ========================= */
$font-size-root: 16px;

$line-height-body: 1.7;
$line-height-heading: 1.25;

/* =========================
   Layout
   ========================= */
$container-max: 1120px;
$container-padding: 20px;

/* =========================
   Layer (z-index)
   ========================= */
$z-header: 100;
$z-drawer: 200;
$z-modal: 300;

/* =========================
    Header高さを定義（rootでjs参照できるように、header高さの変化に対応）
　　======================== */
:root {
  --header-h: 64px;
}

// =========================
// Typography
// =========================
$fs-base: 16px;

$fs-xs: 12px;
$fs-s: 13px;
$fs-sm: 14px;
$fs-m: 15px;
$fs-ml: 16px;
$fs-l: 17px;
$fs-xl: 18px;

// Information
$fs-info-date: 14px;
$fs-info-text: 15px;

$lh-info: 1.6;

// SP 微調整用
$fs-info-date-sp: 12px;
$fs-info-text-sp: 13px;

// Footer
$fs-footer-title: 14px;
$fs-footer-link: 13px;

$fs-footer-title-sp: 13px;
$fs-footer-link-sp: 12px;

// page-header
$fs-eyebrow: clamp(16px, 2vw, 22px);

// page-section-title
$fs-section-title: clamp(14px, 1vw, 18px);
