---
import Base from "@/layouts/Base.astro";
---

<Base lang="ja" title="事業案内">
  <h1>事業案内</h1>
  <ul>
    <li><a href="/ja/services/shibo/">シボ加工</a></li>
    <li><a href="/ja/services/peening/">ピーニング加工機</a></li>
    <li><a href="/ja/services/laser-5axis/">5軸レーザー彫刻機</a></li>
  </ul>
</Base>
