@use "@styles/var" as *;
@use "@styles/mixin" as *;

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 40px 0 100px;
  margin: auto;
  max-width: 100vw;

  .domestic-link-list {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: flex-start;
    gap: 40px;
    width: 100%;
    .list-item {
      position: relative;
      flex: 1 1 0;
      .icon-set {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        img {
          &.no-rotate {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 1;
          }
        }
        .rotate-container {
          transform: rotateZ(360deg);
          transition-duration: 0.5s;
          transition-timing-function: ease-in-out;
          width: 100%;
          height: 100%;
          .rotate {
            transform: rotateZ(0deg);
            background-position: top left;
            background-size: contain;
            opacity: 0;
          }
          &:hover {
            .rotate {
              transition: 0.3s;
              transform: rotateZ(360deg);
              opacity: 1;
            }
          }
        }
      }
      figcaption {
        display: block;
        color: $color-text;
        margin: auto;
        text-align: center;
      }
      @include bp-down(md) {
        figcaption {
          font-size: $fs-xs;
        }
      }
    }
  }

  .fnc-btn-list {
    width: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .list-item {
      padding: 4px;
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      a {
        display: block;
        white-space: nowrap;
        text-align: center;
        padding: 10px 20px;
        &:link,
        &:visited {
          color: $color-text;
          background: rgba(255, 255, 255, 0.06);
          text-decoration: none;
        }
        &:hover {
          background: rgba($color-accent, 0.2);
          color: $color-text;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}
@include bp-only(md) {
  .wrapper {
    max-width: 768px;
    margin: auto;
  }
}
@include bp-down(md) {
  .wrapper {
    flex-direction: column;
    .domestic-link-list {
      gap: 20px;
    }
  }
}
