---
type Props = {
  text: string;
  as?: "h2" | "h3";
};

const { text, as = "h2" } = Astro.props;
const Tag = as;
---

<Tag class="c-section__title">
  <span class="c-section__titleText">{text}</span>
</Tag>
